<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
<div class="center org-wrap">
I PROUDLY SUPPORT THE FOLLOWING ORGANIZATIONS
<br>
    <img class="org-logo" alt="WordPress.org" src="{{ "/assets/img/orgs/wp.png" | prepend: site.baseurl }}">
    <img class="org-logo" alt="The Free Software Foundation" src="{{ "/assets/img/orgs/fsf.png" | prepend: site.baseurl }}">
    <img class="org-logo" alt="Electronic Frontier Foundation" src="{{ "/assets/img/orgs/eff.png" | prepend: site.baseurl }}">
</div>
</footer>
